
{% block body %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>ix Demo Shop Order {{ order.number }}</title>

        <style type="text/css">
            table {
                padding-bottom: 50px;
            }
        </style>
    </head>
    <body style="margin:0; padding:0; background-color:#F2F2F2;">
        <center>
            <table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
                <tr>
                    <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center" valign="top">

                        <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                            <tr>
                                <td align="center" valign="top">
                                    ix Demo Shop Order {{ order.number }}
                                </td>
                            </tr>
                        </table>

                        <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                            <tr>
                                <th align="left" valign="top">
                                    Shipping Address
                                </th>
                                <th align="left" valign="top">
                                    Billing Address
                                </th>
                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    {% if order.shippingAddress.company is not null %}
                                        <span>{{ order.shippingAddress.company }}</span>
                                        <br>
                                    {% endif %}

                                    <span>{{ order.shippingAddress.gender|trans({}, 'messages', 'de') }} {{ order.shippingAddress.firstName }} {{ order.shippingAddress.lastName }} </span>
                                    <br>
                                    <span>{{ order.shippingAddress.street }}</span>
                                    <br>
                                    <span>{{ order.shippingAddress.postcode }} {{ order.shippingAddress.city }}</span>
                                    <br>
                                    <span>{{ order.shippingAddress.countryCode|country('de') }}</span>
                                    <br>
                                    <br>
                                    <span>Email: {{ order.shippingAddress.email }}</span>
                                    <br>
                                    {% if order.shippingAddress.phoneNumber is not null %}
                                        <span>Phone: {{ order.shippingAddress.phoneNumber }}</span>
                                    {% endif %}
                                </td>
                                <td align="left" valign="top">
                                    {% if order.billingAddress.company is not null %}
                                        <span>{{ order.billingAddress.company }}</span>
                                        <br>
                                    {% endif %}

                                    <span>{{ order.billingAddress.gender|trans({}, 'messages', 'de') }} {{ order.billingAddress.firstName }} {{ order.billingAddress.lastName }}</span>
                                    <br>
                                    <span>{{ order.billingAddress.street }}</span>
                                    <br>
                                    <span>{{ order.billingAddress.postcode }} {{ order.billingAddress.city }}</span>
                                    <br>
                                    <span>{{ order.billingAddress.countryCode|country('de') }}</span>
                                    <br>
                                    <br>
                                    <span>Email: {{ order.billingAddress.email }}</span>
                                    <br>
                                    {% if order.billingAddress.phoneNumber is not null %}
                                    <span>Phone: {{ order.billingAddress.phoneNumber }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>

                        <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                            <tr>
                                <td align="center" valign="top">
                                    Shipping Method
                                </td>
                                <td align="center" valign="top">
                                    Payment Method
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    {{ (order.shipments|first).method.translations['de_DE'].name }}
                                </td>
                                <td align="center" valign="top">
                                    {{ (order.payments|first).method.translations['de_DE'].name }}
                                </td>
                            </tr>
                        </table>

                        <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                            {% for item in order.items %}
                            <tr>
                                <td align="center" valign="middle">
                                    <img src="{{ 'http://ixdemo-v2.test.infolox.tools/assets' ~ asset(item.variant.payload.solrProductVariant.preview_image) }}"
                                        border="0" height="50" width="50"
                                        alt="Produkt">
                                </td>

                                <td align="center" valign="middle">
                                    {{ item.variant.payload.solrProductVariant.name }}
                                </td>
                                <td align="center" valign="middle">
                                    {{ item.quantity }}
                                </td>
                                <td align="center" valign="middle" >
                                    {{ (item.total / 100)|number_format }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>

                        <table width="300" cellpadding="0" cellspacing="0" border="0" class="container" style="float: right">
                            <tr>
                                <th align="left">Order Summary</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    Order Netto
                                </td>
                                <td>
                                    {{ ((order.total  - order.taxTotal)/ 100) | number_format }}
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    Shipping
                                </td>
                                <td>
                                    {{ (order.shippingTotal / 100 ) | number_format }}
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    Discount
                                </td>
                                <td>
                                    {{ (order.orderPromotionTotal / 100) | number_format }}
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    Order Total
                                </td>
                                <td>
                                    {{ ( order.total / 100) | number_format }}
                                </td>
                            </tr>
                        </table>

                        {% if order.notes %}
                            <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                                <tr>
                                    <td align="left" valign="top">
                                        Notes: {{ order.notes }}
                                    </td>
                                </tr>
                            </table>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
                </tr>
            </table>
        </center>
    </body>
</html>
{% endblock %}

{% block subject %}
    {#Bestellbestätigung#}
{% endblock %}